/* 
.container-nav {
	display: grid;
    grid:
        [row-1-start] "nav-top-left nav-top-middle nav-top-right" 60px [row-1-end]
        [row-2-start] ". nav-bottom-middle ." 60px[row-2-end] 
        / 150px 700px 300px;
}

.container-main {
    display: grid;
    grid:
    [row-1-start] ". main ." 100px [row-1-end]
    [row-2-start] ". footer ." 80px [row-2-end]
    / 150px 700px 300px;
}


.nav-top{
    grid-area: nav-top-middle;
}

.google-logo {
    grid-area: nav-top-left;
}

.search-bar {
    grid-area: nav-top-middle;
}

.profile-icons {
    grid-area: nav-top-right;
}

Terminated this line of design of attempting to use the grid. As I couldn't figure out how to nest grids within grids (and as I refused to flatten out my HTML), I'm just going to attempt the flexbox.*/

body {
	font-family: "Roboto";
}

/* ======== */
/* NAV SECTION */
/* ======== */

.nav {
	border-bottom: 1px solid #ebebeb;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
}

body {
	margin: 0;
}

.nav-top-links {
	width: 100%;
	height: 45px;
	padding: 20px 0 0 0;
	align-items: center;
}

.google-logo img {
	width: 92px;
	height: 30px;
	padding: 0 18px;
}

.search-bar {
	margin: 0 15px;
	width: 640px;
	height: 100%;
	padding: 0;
	border: 1.25px solid #dfe1e5;
	border-radius: 40px;
	align-items: center;
}

.search-bar-search-icon a {
	color: #4285f4;
}

.search-bar-search-icon a:visited {
	color: #4285f4;
}

input {
	border: none;
	width: 600px;
	margin-left: 20px;
	background: none;
	font-family: arial;
	font-size: 16px;
}

input:focus {
	outline: none;
}

.icon-size-24px {
	height: 24px;
	width: 24px;
}

.microphone-icon {
	margin: 0 0 0 auto;
}
.search-bar-search-icon {
	margin: 0 15px;
}

.profile-icons {
	margin-left: auto;
	align-items: center;
}

.apps-icon {
	margin-right: 20px;
}

.profile-circle-icon {
	height: 32px;
	width: 32px;
	margin-right: 45px;
	border-radius: 50%;
}
.margin-left {
	margin-left: 160px;
}

.nav-bottom {
	height: 58px;
}

.nav-bottom-links {
	justify-content: space-between;
	align-items: flex-end;
	width: 620px;
	height: 100%;
	font-size: 13px;
}

.nav-bottom-links a {
	text-decoration: none;
	color: #7c8085;
}

.nav-bottom-links a:hover {
	color: #4285f4;
}

.search-icon {
	border-bottom: 3px solid #1a73e8;
	height: 17px;
}

.search-icon a {
	color: #4285f4;
}

.icon-size-16px {
	height: 16px;
	width: 16px;
}

.font-size-16px {
	font-size: 16px;
}

.icon-padding {
	padding: 16px 12px 12px 10px;
}

.vert-align {
	vertical-align: middle;
}

.preferences {
	align-items: baseline;
	height: 47px;
	margin-left: auto;
}

.tools {
	padding: 4px 11px;
	border: 1px solid transparent;
}

.tools:hover {
	border: 1px solid #c6c6c6;
	background-color: #f8f8f8;
}

/* ====================== */
/* SEARCH RESULTS SECTION */
/* ====================== */

.search-results {
	padding: 0 0 0 10px;
}

.results-speed {
	font-size: 14px;
	color: #7c8085;
}

.results {
	margin-top: 20px;
	width: 600px;
}

.website-link {
	color: #3c4043;
	font-size: 14px;
	text-decoration: none;
}

.website-link p {
	margin: 0;
}

.website-link img {
	height: 15px;
	margin-right: 10px;
	position: relative;
	top: 3px;
}

.site-title {
	font-size: 20px;
	text-decoration: none;
}

.site-title:visited {
	color: #1a0db3;
}

.content {
	margin-top: 5px;
	font-size: 14px;
	color: #3c4043;
	line-height: 1.57;
}

.visited p {
	color: #70757a;
	font-size: 14px;
	margin: 0px;
}

.grey {
	color: #70757a;
}
.content p {
	margin: 0;
}

em {
	font-weight: bold;
	font-style: normal;
}

.faq {
	position: relative;
	right: 16px;
	margin: 25px 0 20px 0;
}

.faq-dimensions {
	height: 26px;
	width: 606px;
	padding: 9px 16px;
	border: 1px solid #ebebeb;
	margin-bottom: -1px;
	justify-content: space-between;
	align-items: center;
}

.people-also-ask {
	border-radius: 5px 5px 0 0;
	font-size: 20px;
}

.last-question {
	border-radius: 0 0 5px 5px;
}

.feedback {
	height: 26px;
	width: 606px;
	padding: 4px 16px 0px 16px;
	color: #70757a;
	font-style: italic;
	font-size: 12px;
	justify-content: flex-end;
}

.feedback p {
	margin: 0;
}

.related a {
	margin-top: 20px;
}

.related a:visited {
	color: #1a0db3;
}

.searches-related p {
	font-size: 20px;
	margin-top: 30px;
}

.searches-list li {
	margin-bottom: 5px;
}

.searches-list a {
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
}

.unbold {
	font-weight: normal;
}

.pagination {
	width: 632px;
	margin: 30px 0;
	justify-content: center;
}

.footer {
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}

.footer-margin-left {
	margin-left: 170px;
}

.footer-bottom p {
	padding-left: 27px;
}

.footer-bottom a {
	color: #5f6368;
	font-size: 14px;
	text-decoration: none;
}

#help {
	padding-left: 0;
}

.footer-bottom a:visited {
	color: #5f6368;
}
